<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">

        <a class="navbar-brand d-flex align-items-center" href="/listings">
            <span class="logo-icon me-2">✦</span>
            <span class="logo-text">Stayora</span>
        </a>

        <div class="ms-auto">
            <a href="/listings" class="nav-link d-inline me-3">Explore</a>
            <% if(currentPage !== "home"){%>
                <a href="/listings/new" class="btn btn-brand btn-sm">Add Listing</a>
            <% } %>
            
        </div>

    </div>
</nav>